<%= simple_form_for @place do |f| %>
<%= f.input :name, label: 'Nombre'%>
<%= f.input :category, as: :radio_buttons, collection: Place::CATEGORIES, label: 'Categoría' %>
<%= f.input :description, label: 'Descripción' %>
<%= f.input :longitude, :as => :hidden %>
<%= f.input :latitude,  :as => :hidden  %>
<%= f.input :photo, as: :file, label_:'Sube una foto' %>
<p> Selecciona en el mapa </p>
<div id="mapper"
      class="container"
     style="width: 80%; height: 600px; border: 5px"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  <div id="menu">
    <input
    id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked"/>
    <label for="streets-v11">mapa</label>
    <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
    <label for="satellite-v9">satelite</label>
  </div>
</div>
<%= f.submit 'Crear'%>
<% end %>


<!-- <pre id="coordinates" class="coordinates"></pre> -->
