<div class="container">

<% if place.photo.record.name == "temp" %>
   <h4><%= place.name %></h4>
  <p><%= place.address %></p>
  <% else %>
  <%= cl_image_tag(place.photo.key, width: 100) %>
  <h4><%= link_to(place.name, "http://www.google.com/maps/place/#{place.latitude}, #{place.longitude}")%></h4>
  <p><%= place.address %></p>
  <% end %>
</div>
