<div class="info-window">

  <% if place.photo.attached?%>
    <%= cl_image_tag place.photo.key, class: "info-photo"%>
      <h4><%= place.name %></h4>
      <p><%= place.address %></p>
  <% else %>
    <%= cl_image_tag("https://res.cloudinary.com/dhkoueugk/image/upload/v1592425348/Perretes/klara-kulikova-yWpEmVAT-cc-unsplash_usqyp4.jpg", class: "info-photo") %>
    <h4><%= place.name %></h4>
    <p><%= place.address %></p>
  <% end %>

 </div>
