<%= render 'shared/navbar' %>

<div class="container geocoder" id="searchform">
  <%= form_tag places_path, method: :get do %>
    <div class="d-flex mb-4">
      <%= text_field_tag :places,
      params[:places], id: "place_address",
        placeholder: "Introduzca una localizacion",
        style: "border-radius: 24px; height: 44px;" %>
        <div>
    <%= submit_tag "Buscar", id: "searchbutton", class: "ml-1",
      style: "border-radius: 24px; width: 110px; height: 44px;" %>
    </div>
    </div>

  <% end %>
</div>

<div id="map"
     id="geocoder"
     class="container"
     style="width: 80%; height: 600px; border: 5px"
     data-markers="<%= @markers.to_json %>"
     data-center="<%= @center.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<button id='remover'>Satellite</button>
