<div class="container mt-5 pt-3">
  <div class="row">
    <% if @place.photo.attached?%>
      <div class="col-lg">
         <%= cl_image_tag @place.photo.key, width: 600, height: 400, crop: :fill, class: "img-fluid" %>
      </div>
      <% else %>
      <div class="col-lg">
          <%= cl_image_tag("https://res.cloudinary.com/dhkoueugk/image/upload/v1592425348/Perretes/klara-kulikova-yWpEmVAT-cc-unsplash_usqyp4.jpg", width: 600, height: 400, crop: :fill, class: "card-img-top") %>
      </div>
      <% end %>
    <div class="col-md">
      <div class="mb-5 pt-3">
        <h1 style="font-weight: bold;"><%= @place.name %></h1>
        <p><%= @place.description %></p>
      </div>
      <div class="mt-3 mb-5">
        <h3>Servicios en los alrededores:</h3>
        <div class="mt-5">
          <ul class="pl-4 pr-4">
            <li><i class="fas fa-shower fa-lg"></i></li>
            <li><i class="fas fa-restroom fa-lg"></i></li>
            <li><i class="fas fa-beer fa-lg"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="reviews">
   <%= render 'reviews/form' %>
  </div>


</div>
