<!DOCTYPE html>
<html>
  <head>
    <title>Con mi Perrete - Playas y parques caninos para disfrutar con tu mejor amigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('pugpugjs.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>



    <%= render 'shared/flashes' %>

    <%= yield %>

  </body>
</html>
